* {
    margin: 0px;
    padding: 0px;
}

/* Overall Setting */
h1 {
    font-family: 'Prata', serif;
    color: #D1A5AB;
    color: #F0C9C2;
    font-weight: bold;
}

h3 {
    font-family: 'Antic', sans-serif;
    margin: 20px 0;
    text-align: center;
    color: #BFA89B;
}

p {
    font-family: 'Antic', sans-serif;
    color: #BFA89B;
}

a {
    font-family: 'Antic', sans-serif;
    font-weight: bold;
}

/* Loading */

@keyframes fadeOut {
    100% {opacity: 0; visibility: hidden;}
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    height: 200px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes flash {
    0%,100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
}

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}

@keyframes fadeIn2 { 
    0% {opacity: 0;}
    15% {opacity: 0;} 
    80% {opacity: 0.9;}
    100% {opacity: 1;} 
}

/* Nav Bar */
.navbar {
    animation: fadeIn ease 1s;
    z-index: 98;
}
.navbar-light .navbar-brand {
    color: #BFA89B;
    text-decoration: none;
    font-weight: normal;
}

.navbar-light {
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #BFA89B;
    text-decoration: none;
    margin: 10px 25px;
}

.navbar-light .navbar-nav .nav-link:visited {
    color: #BFA89B;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F5CED2;
    text-decoration: none;
    transition: color 1s;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #F0C9C2;
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

/* Main Part*/

.myfadeIn {
    animation: fadeIn 1s;
}

main {
    min-height: 300px;
}

#home {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    margin-bottom:80px;
}

.intro {
    min-height: 100px;
    margin: 0 0 0 auto;
    animation: fadeIn2 ease 5s;
}

.hi {
    font-size: 5rem;
    margin: 10px 0 8px 0;
    font-family: 'Petit Formal Script', cursive;
    color: #AB8D7E;
}

.intro p{
    font-size:2rem;
    margin: 0 0;
    font-family: 'Antic', sans-serif;
    color: #BFA89B;
}

#project {
    height: 500px;
    width: 100%;
    padding-bottom: 50px;
}

.projectsheading {
    visibility: hidden;
}

.mycontainer1 {
    height: 80%;
    padding: auto 0;
    display: flex;
    align-items: center;
}

.mycarousel {
    visibility: hidden;
    min-height: 100px;
    width: 80%;
    margin: 60px auto;
}

#skills {
    min-height: 500px;
    width: 100%;
}

.NLang {
    visibility: hidden;
}

.PLang {
    visibility: hidden;
}

.skillsheading {
    visibility: hidden;
}

.row {
    margin: 0px;
}

.myskill {
    min-height: 150px;
    padding: 10px 15px;
    box-align: center;
    margin-bottom: 30px;
}

.myskill p {
    font-size: 1.3rem;
}

.mybox1 {
    height: 180px;
}

.mybox2 {
    height: 180px;
    margin-bottom: 25px;
}

img {
    height: 100%;
}

.skillimg {
    display: block;
    max-width:50%;
    margin: 0 auto;
    text-align: center;
}

.skilldisc {
    text-align: center;
}

.myprogramming {
    margin: 20px 0 40px 0;
}

/* Footer */

#myfooter {
    height: 200px;
    padding: 38px 0;
    background-color: #DED0B8;
    background-color: #D9C6AF;
    background-color: #D9C8B2;
    background-color: #DACEBB;
}

.iconwrapper {
    width: 80%;
    margin: 0 auto;
}

.myicon {
    width: 20%;
    text-align: center;
}

#myfooter a{
    text-decoration: none;
    font-size:2rem;
    color: #AB8D7E;
    font-weight: normal;
}

.rights {
    margin-top: 40px;
    font-size: 1.15rem;
    text-align: center;
    color: #AB8D7E;
}

@media screen and (min-width:992px) {

    .navbar {
        padding: 0 180px;
    }

    #home {
        height: 900px;
    }

    #project {
        height: 850px;
    }

    #skills {
        margin-bottom: 200px;
    }

    .iconwrapper {
        width: 50%;
    }

}


/* About Page */

@keyframes slideFade {
    0% {
        margin-left: -300px;
        opacity: 0;
    } 
    100% {
        margin-left: 0px;
        opacity: 1;
    } 
}

@keyframes slideTop {
    0% {
        margin-top: -100px;
        opacity: 0;
    } 
    50% {
        margin-top: -100px;
        opacity: 0;
    }
    90% {
        margin-top: 0px;
        opacity: 1;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes fadeLast {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}

.myaboutcontainer {
    width: 80%;
    margin-top: 200px;
    padding-bottom: 100px;
}

.aboutimg {
    width: 90%;
    animation: slideFade ease 3s;
    margin-bottom: 40px;
}

.aboutme {
    font-size: 1.2rem;
    margin: auto 0;
}

.whoru {
    margin-bottom: 40px;
    font-size: 2rem;
    animation: slideTop ease 3.5s;
}

.myDesc {
    animation: fadeLast 3.8s;
}

.mycontactme {
    color: #F0C9C2;
    text-decoration: none;
}

.mycontactme:hover {
    color: #F0C9C2;
    text-decoration: none;
}

@media screen and (min-width:992px) {

    .myaboutcontainer {
        min-height: 950px;
    }

    .aboutimg {
        margin-bottom: 0px;
    }

    .whoru {
        margin-top: 0px;
        font-size: 2.8rem;
    }

}